body {
    background-color: darkslategray;
}

h1 {
    color: white;
    text-align: center;
}

table {
    width: 640px;
    margin: 0 auto;
    background-image: url(képek/hatter.jpg);
    border-spacing: 5px;
}

th, td {
    padding: 5px;
    font-size: 18px;
}